.container {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  text-align: center;
  background-color: #282c34;
}

.memo-list {
  min-height: 100vh;
  font-size: calc(10px + 2vmin);
  color: white;
}

.memo-editor {
  display: flex;
  flex-direction: column;
}

textarea {
  font-size: 0.8rem;
  letter-spacing: 1px;
  padding: 10px;
  max-width: 100%;
  line-height: 1.5;
  border-radius: 5px;
  border: 1px solid #ccc;
  box-shadow: 1px 1px 1px #999;
}

.button-container {
  display: flex;
  justify-content: space-between;
}
