.container {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  text-align: center;
  background-color: #282c34;
}

.list-container {
  width: 70%;
  font-size: 16px;
  color: white;
  min-height: 100vh;
}

.list-container button {
  background: none;
  border: none;
  padding: 0;
  font: inherit;
  color: inherit;
  display: flex;
  justify-content: flex-start;
  text-align: left;
  padding: 10px;
}

.underline {
  text-decoration: underline;
}

.cursor-pointer {
  cursor: pointer;
}

.editor-container {
  width: 30%;
  display: flex;
  flex-direction: column;
}

textarea {
  font-size: 0.8rem;
  letter-spacing: 1px;
  padding: 10px;
  width: 100%;
  line-height: 1.5;
  border-radius: 5px;
  border: 1px solid #ccc;
  box-shadow: 1px 1px 1px #999;
}

.button-container {
  display: flex;
  justify-content: space-between;
}

.editor-container button {
  font: inherit;
}

.editor-container .update-button {
  width: 75%;
}

.editor-container .delete-button {
  width: 20%;
}
